.custom-screen {
  height: 100%;
}

form {
  margin: 0 auto;
  width: 70%;
  height: 100%;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(2, 1fr);
  align-items: center;
}

label {
  color: rgb(242, 236, 236);
  font-size: 1.2rem;
}

.buttons {
  grid-area: 3 / 1 / span 1 / span 2;
  justify-self: center;
  display: flex;
  gap: 8px;
}

form button, form input, form select {
  appearance: none;
  border: 2px solid rgb(157, 154, 154);
  outline: none;
  background-color: rgb(60, 52, 52);
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(242, 236, 236);
}