div.loading-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1.loading {
  color: rgb(242, 236, 236);
  margin: 0;
  text-align: center;
}

h1.loading::before {
  content: "Loading...";
  animation: loading 2s linear infinite backwards;
}

img.gif {
  width: 64px;
  margin: 16px 0 56px 0;
}

@keyframes loading {
  from {
    content: "Loading"
  }

  25% {
    content: "Loading."
  }

  50% {
    content: "Loading.."
  }

  75% {
    content: "Loading..."
  }
}